<div class="col-xs-6 col-xs-offset-3" style="text-align: center">
	<h1>Choose Facebook pages to integrate</h1>

	<ul>
		{{#each result}}
			<a href='/fbPageConfirmation?pageId={{this.id}}&name={{this.name}}'>Integrate {{this.name}}</li></a>
			<br></br>
		{{/each}}
	</ul>
	<a href='/integrate'> Return to integrations page</li></a>
</div>