<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<<<<<<< HEAD
<a href="/integrate">Integrate your social accounts</a>
=======
<a href='/auth/youtube'>Youtube Test</a>
>>>>>>> 4adca418076d47bb77a42cb56966a8b3c66ea8e2
