<form method="post" class="col-xs-6 col-xs-offset-3">
	<h1>Integrations</h1>
	<a href="/auth/facebook" class="form-control btn btn-default">Link your Facebook</a>
	<a href="/auth/youtube" class="form-control btn btn-default">Link your Youtube</a>
	<a href="/auth/instagram" class="form-control btn btn-default">Link your Instagram</a>
	<a href="/auth/twitter"class="form-control btn btn-default">Link your Twitter</a>
	<input class="form-control" type="text" name="username" placeholder="Vine Email">
	<input class="form-control" type="password" name="password" placeholder="Vine Password">
	<input class="form-control btn btn-default" type="submit" value="Link your Vine"/>
	<a href="/gentelella/production/dashboard.html"class="form-control btn btn-default">Dashboard</a>

</form>

