<h1>{{Integrations}}</h1>

<a href="/auth/facebook">Link your Facebook</a>
<a href="/auth/youtube">Link your Youtube</a>
<a href="/auth/instagram">Link your Instagram</a>
<a href="/auth/vine">Link your Vine</a>
<a href="/auth/twitter">Link your Twitter</a>