<form method="post" class="col-xs-6 col-xs-offset-3">
	<input class="form-control" type="text" name="username" placeholder="Username">
	<input class="form-control" type="text" name="phoneNumber" placeholder="Phone Number">
	<input class="form-control" type="password" name="password" placeholder="Password">
	<input class="form-control" type="password" name="passwordagain" placeholder="Confirm Password">
	<input class="form-control" type="submit" value="Register">

	<a href="/login">Back to login</a>
</form>
