<!DOCTYPE html>
<html>
<head>
<style>

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('input[type="checkbox"]').click(function(){
            if($(this).is(":checked")){
                alert("Checkbox is checked.");
            }
            else if($(this).is(":not(:checked)")){
                alert("Checkbox is unchecked.");
            }
        });
    });




    $.ajax({
        type: "POST",
        url: "http://localhost:3000/trigger",
        data: {
            type: 200,
            frequency: 150
        },
        success: function(d) {
            //Position saved
        },
        error: function(jqXHR, textStatus, errorThrown) {
            //Something bad happened
        }
    });
</script>
</head>

<body>

	<div class="container">
	    <h3 class="text-center">Dashboard Reminders</h3>
	    <hr>
	</div>

	<div class="container">
	    <div class="row">
	        <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
	            <div class="panel panel-default">
	                <!-- Default panel contents -->
	                <div class="panel-heading">Set Trigger</div>
	            
	                <!-- List group -->
	                <ul class="list-group">
	                    <li class="list-group-item">
	                        Facebook 
	                        <div class="material-switch pull-right">
	                            <!-- <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/> -->
	                            <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="text" class="bfh-number"/>
	                            <label for="someSwitchOptionPrimary" class="label-primary"></label>
	                        </div>
	                    </li>
	                    <li class="list-group-item">
	                        Vine
	                        <div class="material-switch pull-right">
	                            <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
	                            <label for="someSwitchOptionSuccess" class="label-success"></label>
	                        </div>
	                    </li>
	                    <li class="list-group-item">
	                        Twitter
	                        <div class="material-switch pull-right">
	                            <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox"/>
	                            <label for="someSwitchOptionInfo" class="label-info"></label>
	                        </div>
	                    </li>
	                    <li class="list-group-item">
	                        Instagram
	                        <div class="material-switch pull-right">
	                            <input id="someSwitchOptionWarning" name="someSwitchOption001" type="checkbox"/>
	                            <label for="someSwitchOptionWarning" class="label-warning"></label>
	                        </div>
	                    </li>
	                    <li class="list-group-item">
	                        YouTube
	                        <div class="material-switch pull-right">
	                            <input id="someSwitchOptionDanger" name="someSwitchOption001" type="checkbox"/>
	                            <label for="someSwitchOptionDanger" class="label-danger"></label>
	                        </div>
	                    </li>
	                </ul>
	            </div>            
	        </div>
	    </div>
	</div>

</body>

</html>